<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Login</title>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.cookie.min.js"></script>
    <script src="/js/vue.min.js"></script>
    <script src="/js/func.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
</head>
<body>
<div class="container">


    <div class="input-group">
        <input type="text" class="form-control" id="username"  >
    </div>
    <div class="input-group">
        <input type="text" class="form-control"  id="password" >
    </div>

    <div class="input-group">
        <button class="form-control btn btn-info" id="loginBtn">Login</button>
    </div>


</div>


</body>
</html>